.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7; /* Adjust background color as needed */
  }
  
  .login-form {
    max-width: 400px;
    width: 80%; /* Increase the width as desired */
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #fff; /* Adjust background color as needed */
  }
  
  .login-form h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #333; /* Adjust text color as needed */
  }
  
  .form-group {
    margin-bottom: 30px;
  }
  
  .form-group label {
    display: block;
    font-size: 18px;
    color: #555; /* Adjust label color as needed */
  }
  
  .form-control {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    background-color: #f4f4f4; /* Adjust input background color as needed */
  }
  
  .btn-success {
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-success:hover {
    background-color: #45a049;
  }
  